<div class="row">
  <div class="col-lg-6 col-lg-offset-3
              col-xs-10 col-xs-offset-1">
    <h1 class="text-center"><strong>Ajouter un nouvel article</strong></h1>
    <form [formGroup]="postForm" (ngSubmit)="onSubmitForm()">
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text"
               id="title"
               class="form-control"
               formControlName="title">
      </div>
      <div class="form-group">
        <label for="content">Contenu</label>
        <textarea id="content"
                  rows="10"
                  class="form-control"
                  formControlName="content"></textarea>
      </div>
      <button class="btn btn-lg btn-primary center-block"
              type="submit"
              [disabled]="postForm.invalid">Enregistrer</button>
    </form>
  </div>
</div>
